
/*
    File: public.css

    Authors: 

    Date created: 20 Sept 2018

    Date modified: 20 Sept 2018
*/

* {
    text-align: center;
}
html,body {
    margin: 10px;
    border: none;
    padding: 10px;
    line-height: 26px;
    background-color: blanchedalmond;
    color: #0d2c40;
}
.button {
    border-radius: 2px;
    background-color: gray;
    color: black;
    font-size: 16px;
    padding: 10px;
}
.button:hover {
    background-color: gray;
    color: white;
}

